body{
    font-family: 'Cabin Sketch', cursive;

}

.container{
    max-width: 75%;

}

.card-body{
    max-width: 600px;
    max-height: 400px;
}

.card-title{
    font-family: 'Courier New', Courier, monospace
}

.card-text{
    font-family: 'Times New Roman', Times, serif
}